
<% content_for :page_title do %>
  <%= "Libroshelf (#{@count})" %> 
<% end %>


<% content_for :mainheader do %>
  <%= render 'submenu_interactions' %>

<div class="cleaner"></div>

<% end %>

<div class="page-title">
<h1><%= I18n.t 'recommendations' %></h1>
</div>

<div class="interactions">
    <%= I18n.t 'empty_recommendations' if @items.empty? %>
    <% @items.each do |item| %>
      <div class="item">
        <%= link_to image_tag((item['image'] ? amazon_url(item['image']) : 'book-item-default-image.png'), :class => 'book-image'), book_path(:id => item['book_id']) %>
      <div class="item-container">
        <div class="item-content">
            <%= link_to image_tag(profile_picture_url(item['user_uid']), :class => 'user-image'), bookcase_path(:id => item['user_id'] )  %>
          <%= recommendation_message(item).html_safe %>
        </div>
        </div>

      </div>

<div class="cleaner"></div>
    <% end %>
</div>



<% content_for :sidebar do %>

  <div class="top_sidebar_shadow">
  </div>

  <div id="sidebar_shadow" class="sidebar_shadow" style="clear:both;">
    <div id="sidebar_shadow_container" class="sidebar_shadow_container">
      <div id="book_similarities">
      </div>
    </div>
  </div>
  <div class="bottom_sidebar_shadow">
  </div>

<% end %>



              <script type="text/javascript" >
                <% if @reco_count.to_i > 0 %> 
                  $.post('<%= reset_count_path %>', { count: "reco" } );
                <% end %>
                   $("#book_similarities").load("<%= book_similarities_path(:asin => @last_book) %>"); 
              </script>    



