<html>
  <head>
    <title>Libroshelf error</title>
  </head>
<body style="font-family:Arial, Helvetica, Sans-Serif; font-size:9pt">
<b>User</b>:
<p>
 <%= @user.id if @user%>
 <%= 'User not logged in' unless @user%>
</p>
 <b>Request</b>:
<p>
 <%= @request.url %>
</p>
 <b>Request Params</b>:
<p>
 <%= @request.params.to_s%>
</p>
 <b>Exception message:</b>
<p>
 <%= "#{@exception.class.to_s} #{@exception.message}" %>
</p>
 <b>Backtrace:</b>
<p>
<% backtrace = ''; @exception.backtrace.each {|line| backtrace << "#{line} <br>" }%>
<%= backtrace.html_safe %>
</p>
</body>
</html>




