<%= debug session[:locale] %>

<h2>Your virtual bookcase if formed by five shelfs </h2>
  Recommended bookshelf: this shelf contains the books that your friends have recommended you<br>
  Next bookshelf: in this shelf you can locate those books that you want to read in the future<br>
  Reading bookshelf: This is the shelf that contains the book that you are reading <br>
  Read bookshelf: This is the shelf your friends can find all the books that you have read<br>


        <div class="white-box">
          <div id="login-message">
            <div class="title">
              Login
            </div>
          <p>
            What are you waiting for? Click on the green button above to start.
          </p>
          </div>
          <div id="welcome-message">
          <h1>Which book are you reading?</h1>
          <p>
            Do you want to know who friends have read it and what people are saying about it?
          </p>
<%= form_tag search_path, :remote => true  do  %>
<%= text_field_tag 'title', params[:title]  %>
<%= submit_tag 'procura' %>
          </div>

<div id="book_search_results">
</div>
        </div>





<% end %>



<% content_for :sidebar do %>
  <%= render 'widget_influencer', :user => current_user %>
<% end %>


