<% content_for :meta_seo do %>
  <meta name="description" content="<%= I18n.t 'meta_desc_landing'%>" />
  <meta name="keywords" content="keywords, metatags, do, not, matter" />
<% end %>

    <div id="landing-white-box"  >
        <div  class="white-box" >
          <h1><%= I18n.t 'landing_h1' %></h1>
          <div>
          <div id="welcome-message"  >
              <%= I18n.t 'welcome_message'%>
                      </div>
          <div id="login-message" >
              <%= I18n.t 'login_message'%>
          </div>
          </div>
          <div class="cleaner">
          </div>
        </div>
      <div style="height: 65px;padding:7px 0 2px 5px;">
          <div class="fb-like" data-send="true" data-width="740" data-show-faces="true"></div>
      </div>
  </div>

      <div class="section-title">
        <h2> <%=  'The last books that have shared on Libroshelf' %></h2>
      </div>
        <div >
          <%= render :partial => '/books/book_item_small', :collection => Book.last(20) %>
        </div>



