<% content_for :meta_seo do %>
  <meta name="description" content="<%= I18n.t 'meta_desc_landing'%>" />
  <meta name="keywords" content="  book, books, reading, author, bookshelf " />
  <link rel="image_src" type="image/jpeg" href="<%= asset_url 'square_logo.jpg' %>"/> 

<% end %>

<% content_for :open_graph do %>
  <meta property="fb:app_id"      content="<%= ENV['FACEBOOK_KEY'] %>" /> 
  <meta property="og:image" content="<%= asset_url 'square_logo.jpg' %>" />
  <meta property="og:image:height" content="800" />
  <meta property="og:image:width" content="800" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="es_ES" />
  <meta property="og:locale:alternate" content="es_LA" />
  <meta property="og:site_name" content="Libroshelf" />

<% end %>



    <div id="landing-white-box"  >
        <div  class="white-box" >
          <h1><%= I18n.t 'landing_h1' %></h1>
          <div>
          <div id="welcome-message"  >
              <%= I18n.t 'welcome_message'%>
                      </div>
          <div id="login-message" >
              <%= I18n.t 'login_message'%>
          </div>
          </div>
          <div class="cleaner">
          </div>
        </div>
      <div style="height: 65px;padding:7px 0 2px 5px;">
          <div class="fb-like" data-href="http://libroshelf.com/" data-send="true" data-width="650" data-show-faces="true"></div>
      </div>
  </div>

  <div id="main-landing<%= '-canvas' if (params[:action].eql?('canvas') || params[:canvas])  %>">
      <div class="section-title">
        <h2> <%=  I18n.t('lastest_shared_books') %></h2>
      </div>
        <div class="section-books">
          <% number_of_books = (params[:action].eql?('canvas') || params[:canvas]) ? 20 : 30 %>
          <%= render :partial => '/books/book_item_small', :collection => Book.most_read(number_of_books) %>
        </div>
  </div>



