<% content_for :meta_seo do %>
  <meta name="description" content="<%= I18n.t 'meta_desc_landing'%>" />
  <meta name="keywords" content="keywords, metatags, do, not, matter" />
<% end %>

        <div class="white-box">
          <h1><%= I18n.t 'landing_h1' %></h1>
          <div>
          <div id="welcome-message" style="<%= 'width:340px' if params[:action].eql?('canvas') %>" >
              <%= I18n.t 'welcome_message'%>
                      </div>
          <div id="login-message" style="<%= 'width:340px' if params[:action].eql?('canvas') %>" >
              <%= I18n.t 'login_message'%>
          </div>
          </div>
          <div class="cleaner">
          </div>
        </div>

      <div class="section-title">
        <h2> <%=  I18n.t('lastest_shared_books') %></h2>
      </div>
        <div>
          <%= render :partial => '/books/book_item_small', :collection => Book.last(20) %>
        </div>

