<div  id="friend-<%= friend.id %>" class="friend-box">
    <%= image_tag profile_picture_url(friend.uid),:width => 45  %>
    <div class="user-name"><%= friend.name %></div>
</div>

<script type="text/javascript" >
    $('#friend-<%= friend.id %>').click(function() {
      window.location.href = '<%= escape_javascript(bookcase_path(:id => friend.id)) %>';
    });
</script>    
