            <div class="book-item" >
              <%= link_to image_tag(book_item.tiny_image), book_item %>
              <div class="info-container">
              <div class="info">
                <div class="title"><%= link_to "<div>#{truncate(book_item.title, :length => 50, :separator => ' ', :omission => '..')}</div>".html_safe, book_item %></div>

                <div class="author"><%= truncate("by #{by_authors(book_item.author)}", :length => 20,  :omission => '..') %></div>
                <div class="experiences">
            <ul >
              <li><%= link_to "Read it", book_item %></li>
              <li class="separator">|</li>
                    
               <li> <%= link_to "Going to read", book_item %></li>
            </ul>
            <ul >
              <li><%= link_to "Reading", book_item %></li>
              <li class="separator">|</li>
                    
               <li> <%= link_to "Recommend", book_item %></li>
            </ul>
                </div>
              </div>
              </div>
            </div>

                <div class="title"><%# link_to "<div>mmmmm mmmmm mmmmm mmmmm mmmmm mmmmm mmmmm mmmmmm mmmmm mmmmm mmmmm mmmmm</div>".html_safe, book_item %></div>
