<div id="experience_<%= book_item.user.eql?(current_user) ? book_item.id : book_item.book.asin %>" class="book-item" >
  <%= link_to image_tag(book_item.book.tiny_image ? book_item.book.tiny_image : 'book-item-default-image.png'), book_item.book %>
  <div class="info-container">
    <div class="info">
      <div class="title"><%= link_to "<div>#{truncate(book_item.book.title, :length => 40, :separator => ' ', :omission => '..')}</div>".html_safe, book_item.book %></div>
      <div class="author"><%= truncate("by #{by_authors(book_item.book.author)}", :length => 20,  :omission => '..')  if book_item.book.author %></div>
      <div class="experiences">

        <% unless book_item.user.eql? current_user #if params[:action].eql? 'friends_bookshelf' # The user is seeing the books of his friends    %>


            <div class="recommender">
              <%= link_to image_tag("http://graph.facebook.com/#{book_item.user.uid}/picture",:width => 30  ), bookcase_path(:id => book_item.user.id )%>
              <div class="user-name"><%= link_to book_item.user.name, bookcase_path(:id => book_item.user.id )%></div>
              <div class="cleaner"></div>
            </div>
          <% if @book_list[book_item.book.asin] %>
            <div class="confirm_message"><%= link_to confirm_message(@book_list[book_item.book.asin][1]), shelf_path(:id => current_user.id,:code => @book_list[book_item.book.asin][1]) %></div>
          <% else %>
            <div class="cleaner" ></div>
          <div id="experience_options_<%= book_item.book.asin %>">
            <ul >
              <li> 

                <%= link_to_function I18n.t('next'), "$('#experience_2_form_#{book_item.book.asin}').submit();" %>
                <%= form_tag(experiences_path,:id => "experience_2_form_#{book_item.book.asin}",:remote => true) do -%>
                  <%= hidden_field_tag :asin, book_item.book.asin%>
                  <%= hidden_field_tag(:code, 2) %>
                <% end -%>
              </li>
              <li class="separator">|</li>
              <li>
                <%= link_to_function I18n.t('reading'), "$('#experience_1_form_#{book_item.book.asin}').submit();" %>
                <%= form_tag(experiences_path,:id => "experience_1_form_#{book_item.book.asin}",:remote => true) do -%>
                  <%= hidden_field_tag :asin, book_item.book.asin%>
                  <%= hidden_field_tag(:code, 1) %>
                <% end -%>

              </li>
            </ul>
            <div class="cleaner"></div>
            <ul >
              <li>
                <%= link_to_function I18n.t('read'), "$('#experience_0_form_#{book_item.book.asin}').submit();" %>
                <%= form_tag(experiences_path,:id => "experience_0_form_#{book_item.book.asin}",:remote => true) do -%>
                  <%= hidden_field_tag :asin, book_item.book.asin%>
                  <%= hidden_field_tag(:code, 0) %>
                <% end -%>
              </li>
              <li class="separator">|</li>
                <li><%= link_to I18n.t('book_show_friends_link'), book_show_friends_path(:id => book_item.book.id), :remote => true  %></li>

            </ul>
          </div>
          <% end %>


        <% else #if @user.eql? current_user # Bookshelf of the logged user %>
          <% case book_item.code 
            when 0 %>
              <ul >
                <li> <%# link_to "Your influence rate is 80", book_item.book %></li>
              </ul>
              <ul>
                <li><%= link_to I18n.t('recommend'), book_recommend_path(:id => book_item.book.id), :remote => true  %></li>
                <li class="separator">|</li>
                <li><%= link_to I18n.t('book_show_friends_link'), book_show_friends_path(:id => book_item.book.id), :remote => true  %></li>
              </ul>
            <% when 1 %>
              <div id="experience_options_<%= book_item.id%>">
              <ul >
                <li>
                  <%= link_to_function I18n.t('read'), "$('#experience_0_form_#{book_item.id}').submit();" %>
                  <%= form_for(book_item, :html => { :id => "experience_0_form_#{book_item.id}",:remote => true }) do |f| %>
                    <%= f.hidden_field(:code, :value => 0) %>
                  <% end %>
                </li>
                <li class="separator">|</li>
                <li><%= link_to I18n.t('recommend'), book_recommend_path(:id => book_item.book.id), :remote => true  %></li>
              </ul>
            <div class="cleaner"></div>
              <ul id="experience_options_<%= book_item.id%>">
                <li><%= link_to I18n.t('book_show_friends_link'), book_show_friends_path(:id => book_item.book.id), :remote => true  %></li>
              </ul>
              </div>
            <% when 2 %>
              <div id="experience_options_<%= book_item.id%>">
              <ul >
                <li>
                  <%= link_to_function I18n.t('reading'), "$('#experience_1_form_#{book_item.id}').submit();" %>
                  <%= form_for(book_item, :html => { :id => "experience_1_form_#{book_item.id}",:remote => true }) do |f| %>
                    <%= f.hidden_field(:code, :value => 1) %>
                  <% end %>
                </li>
                <li class="separator">|</li>
                <li>
                  <%= link_to_function I18n.t('read'), "$('#experience_0_form_#{book_item.id}').submit();" %>
                  <%= form_for(book_item, :html => { :id => "experience_0_form_#{book_item.id}",:remote => true }) do |f| %>
                    <%= f.hidden_field(:code, :value => 0) %>
                  <% end %>
                </li>
              </ul>
            <div class="cleaner"></div>
              <ul id="experience_options_<%= book_item.id%>">
                <li><%= link_to I18n.t('recommend'), book_recommend_path(:id => book_item.book.id), :remote => true  %></li>
                <li class="separator">|</li>
                <li><%= link_to I18n.t('book_show_friends_link'), book_show_friends_path(:id => book_item.book.id), :remote => true  %></li>
                </li>
              </ul>
              </div>

            <% when 3 %>
              <div id="experience_options_<%= book_item.id%>">
            <div class="recommender">
              <%= link_to image_tag("http://graph.facebook.com/#{book_item.recommender.uid}/picture",:width => 30  ), bookcase_path(:id => book_item.recommender.id )%>
              <div class="user-name"><%= link_to book_item.recommender.name, bookcase_path(:id => book_item.recommender.id )%></div>
              <div class="cleaner"></div>
            </div>
              <ul >
                <li>
                  <%= link_to_function I18n.t('next'), "$('#experience_2_form_#{book_item.id}').submit();" %>
                  <%= form_for(book_item, :html => { :id => "experience_2_form_#{book_item.id}",:remote => true }) do |f| %>
                    <%= f.hidden_field(:code, :value => 2) %>
                  <% end %>
                </li>
                <li class="separator">|</li>
                <li>
                  <%= link_to_function I18n.t('reading'), "$('#experience_1_form_#{book_item.id}').submit();" %>
                  <%= form_for(book_item, :html => { :id => "experience_1_form_#{book_item.id}",:remote => true }) do |f| %>
                    <%= f.hidden_field(:code, :value => 1) %>
                  <% end %>
                </li>
              </ul>
              <div class="cleaner"></div>
              <ul>
                <li>
                  <%= link_to_function I18n.t('read'), "$('#experience_0_form_#{book_item.id}').submit();" %>
                  <%= form_for(book_item, :html => { :id => "experience_0_form_#{book_item.id}",:remote => true }) do |f| %>
                    <%= f.hidden_field(:code, :value => 0) %>
                  <% end %>
                </li>

                <li class="separator">|</li>
                <li>
                  <%= link_to I18n.t('discard'), experience_path(book_item),:method => 'delete',:remote => true %>
                </li>
              </ul>
              </div>

            <% end %>

              <% end %>
                </div>
              </div>
              </div>
            </div>

