<div class="book-item book-item-small" style="margin-left:5px;" >
  <%# image = ( book_item_similarity[0].raw.ImageSets.ImageSet.class.eql?(Array) ? book_item_similarity[0].raw.ImageSets.ImageSet[0].TinyImage.URL : book_item_similarity[0].raw.ImageSets.ImageSet.TinyImage.URL) %>

<% if book_item_similarity[0].raw.ImageSets && !book_item_similarity[0].raw.ImageSets.ImageSet.class.eql?(Array)# TODO study these cases%>
  <%= link_to image_tag(amazon_url(book_item_similarity[0].raw.ImageSets.ImageSet.TinyImage.URL),:height=> '80'), book_asin_path(:asin => book_item_similarity[0].raw.ASIN )  %>
<% elsif book_item_similarity[0].raw.ImageSets  %>
  <%= link_to image_tag(amazon_url(book_item_similarity[0].raw.ImageSets.ImageSet[0].TinyImage.URL),:height=> '80'), book_asin_path(:asin => book_item_similarity[0].raw.ASIN )  %>
<% else # TODO default image%>
  <%= link_to image_tag('book-item-default-image.png',:height=> '80'), book_asin_path(:asin => book_item_similarity[0].raw.ASIN)  %>
<% end %>

  <%# link_to image_tag(image,:height=> '80'), book_asin_path(:asin => book_item_similarity[0].raw.ASIN)%>



  <div class="info-container">
    <div class="info">
      <div class="title"><%= link_to "<div>#{truncate(book_item_similarity[0].raw.ItemAttributes.Title, :length => 50, :separator => ' ', :omission => '..')}</div>".html_safe, book_asin_path(:asin => book_item_similarity[0].raw.ASIN)%></div>
      <div class="author"><%= truncate("#{I18n.t('by')} #{by_authors(book_item_similarity[0].raw.ItemAttributes.Author)}", :length => 20,  :omission => '..') if book_item_similarity[0].raw.ItemAttributes.Author %></div>
    </div>
  </div>
</div>
