<div id="experience_<%= search_book_item.raw.ASIN %>" class="book-item book-item-search" >

<% if search_book_item.raw.ImageSets && !search_book_item.raw.ImageSets.ImageSet.class.eql?(Array)# TODO study these cases%>
  <%= link_to image_tag(search_book_item.raw.ImageSets.ImageSet.TinyImage.URL), book_asin_path(:asin => search_book_item.raw.ASIN)  %>
<% elsif search_book_item.raw.ImageSets  %>
  <%= link_to image_tag(search_book_item.raw.ImageSets.ImageSet[0].TinyImage.URL), book_asin_path(:asin => search_book_item.raw.ASIN)  %>
<% else # TODO default image%>
<% end %>
  <div class="info-container">
    <div class="info">
      <div class="title"><%= link_to("<div>#{truncate(search_book_item.raw.ItemAttributes.Title, :length => 50, :separator => ' ', :omission => '..')}</div>".html_safe, book_asin_path(:asin => search_book_item.raw.ASIN)) %></div>
      <div class="author"><%= truncate("by #{by_authors(search_book_item.raw.ItemAttributes.Author)}", :length => 20,  :omission => '..') if search_book_item.raw.ItemAttributes.Author%></div>
      <div class="experiences">

          <% if @book_list[search_book_item.raw.ASIN] %>
            <div class="confirm_message"><%= confirm_message(@book_list[search_book_item.raw.ASIN][1]) %></div>
          <% else %>
            <div class="cleaner" ></div>
            <ul id="experience_options_<%= search_book_item.raw.ASIN%>">
              <li>
                <%= link_to_function "Read", "$('#experience_0_form_#{search_book_item.raw.ASIN}').submit();" %>

                <%= form_tag(experiences_path,:id => "experience_0_form_#{search_book_item.raw.ASIN}",:remote => true) do -%>
                  <%= hidden_field_tag :asin, search_book_item.raw.ASIN%>
                  <%= hidden_field_tag(:code, 0) %>
                <% end -%>

              </li>

              <li class="separator">|</li>
              <li>

                <%= link_to_function "Reading",  "$('#experience_1_form_#{search_book_item.raw.ASIN}').submit();" %>
                <%= form_tag(experiences_path,:id => "experience_1_form_#{search_book_item.raw.ASIN}",:remote => true) do -%>
                  <%= hidden_field_tag :asin, search_book_item.raw.ASIN%>
                  <%= hidden_field_tag(:code, 1) %>
                <% end -%>
              </li>
              <li class="separator">|</li>
              <li> <%= link_to_function "Next",  "$('#experience_2_form_#{search_book_item.raw.ASIN}').submit();" %>

                <%= form_tag(experiences_path,:id => "experience_2_form_#{search_book_item.raw.ASIN}",:remote => true) do -%>
                  <%= hidden_field_tag :asin, search_book_item.raw.ASIN%>
                  <%= hidden_field_tag(:code,  1) %>
                <% end -%>
              </li>
            </ul>
          <% end %>
      </div>
    </div>
  </div>
</div>
