<% content_for :mainheader do %>

  <%= render 'submenu_my_bookshelf' %>
<div class="title">
<h1><%= (logged_in? && @user.eql?(current_user)) ? I18n.t('my_bookcase') : I18n.t('his_bookcase', :name => @user.name.capitalize)%></h1>
</div>

<div class="cleaner"></div>

<% end %>

<% content_for :page_title do %>
  Libroshelf
<% end %>
<% content_for :meta_seo do %>
  <meta name="description" content="Your bookcase" />
  <meta name="keywords" content="  book, books, reading " />
    
<% end %>


<%= render 'slider',:title => title(3),:empty_legend => empty_legend(3), :path => shelf_path(:id => @user, :code => 3), :partial => '/books/book_item', :collection => @recommended_books,  :items_slide => 3,:slider_index => 0 %>
<%= render 'slider',:title => title(2), :empty_legend => empty_legend(2),:path => shelf_path(:id => @user, :code => 2), :partial => '/books/book_item', :collection => @next_books,  :items_slide => 3,:slider_index => 1 %>
<%= render 'slider',:title => title(1), :empty_legend => empty_legend(1),:path => shelf_path(:id => @user, :code => 1), :partial => '/books/book_item', :collection => @reading, :items_slide => 3,:slider_index => 2  %>
<%= render 'slider',:title => title(0), :empty_legend => empty_legend(0),:path => shelf_path(:id => @user, :code => 0), :partial => '/books/book_item', :collection => @read_books, :items_slide => 6,:slider_index => 3%>

<script type="text/javascript" >
    var sliders = [[0,<%= (@recommended_books.size + 2) / 3 %>],[0,<%= (@next_books.size + 2) / 3 %>],[0,<%= (@reading.size + 2) / 3 %>],[0,<%= (@read_books.size + 5) / 6 %>] ];
</script>    




<% content_for :sidebar do %>

  <div class="top_sidebar_shadow">
  </div>

  <div id="sidebar_shadow" class="sidebar_shadow" style="clear:both;">
    <div id="sidebar_shadow_container" class="sidebar_shadow_container">
      <%= render 'widget_user' %>
      <div id="book_similarities">
      </div>
    </div>
  </div>
  <div class="bottom_sidebar_shadow">
  </div>

<% end %>

          <% if @last_book %>
              <script type="text/javascript" >
                   $("#book_similarities").load("<%= book_similarities_path(:asin => @last_book.book.asin) %>"); 
              </script>    
          <% end %>
