<% content_for :mainheader do %>

  <%= render 'submenu_friends' %>

<div class="cleaner"></div>

<% end %>

<% content_for :page_title do %>
  Libroshelf
<% end %>
<% content_for :meta_seo do %>
  <meta name="description" content="Friend's bookcases" />
  <meta name="keywords" content="  book, books, reading " />
    
<% end %>
<%= debug @experiences %>
<%= render 'slider',:title => I18n.t('read_and_reading'), :empty_legend => I18n.t('read_and_reading_empty_legend') ,:path => nil,:partial => '/books/book_item',:collection => @reading,  :items_slide => 24,:slider_index => 0 %>

<script type="text/javascript" >
    var sliders = [[0,<%= (@reading.size + 23) / 24 %>]];
</script>    

<% content_for :sidebar do %>

  <div class="top_sidebar_shadow">
  </div>

  <div id="sidebar_shadow" class="sidebar_shadow" style="clear:both;">
    <div id="sidebar_shadow_container" class="sidebar_shadow_container">
      <div class="cleaner"></div>
      <div id="book_similarities">
      </div>
    </div>
  </div>
  <div class="bottom_sidebar_shadow">
  </div>


          <% if @last_book %>
              <script type="text/javascript" >
                   $("#book_similarities").load("<%= book_similarities_path(:asin => @last_book.book.asin) %>"); 
              </script>    
          <% end %>
<% end %>

