
<% content_for :mainheader do %>

  <%= render 'submenu_my_bookshelf' %>

<div class="title">
<h1><%= title(params[:code].to_i) %></h1>
</div>
<div class="cleaner"></div>
<% end %>


  <% unless @books.empty? %>
      <div  style="height:<%= 125 * ((@books.size + 2) / 3) %>px">
          <%= render :partial => 'book_item', :collection => @books %>
      </div>

  <% else %>
    <div class="empty-legend" >
      <%= empty_legend(params[:code].to_i).html_safe %>
    </div> 
  <% end %>

<% content_for :sidebar do %>

  <div class="top_sidebar_shadow">
  </div>

  <div id="sidebar_shadow" class="sidebar_shadow" style="clear:both;">
    <div id="sidebar_shadow_container" class="sidebar_shadow_container">
      <div id="book_similarities">
      </div>
    </div>
  </div>
  <div class="bottom_sidebar_shadow">
  </div>

<% end %>

          <% if @last_book %>
              <script type="text/javascript" >
                   $("#book_similarities").load("<%= book_similarities_path(:asin => @last_book.book.asin) %>"); 
              </script>    
          <% end %>
