<%# we have to configure this page depending on
    - We just created the book. The links is an book_asin_path
    - The book was previously in our database and it has evangelists 
    - The user is logged_in and we want to show him friends that are reading it
%>


<div  id="book_<%= @book.id %>"class="book">
  <div class="buy-it">
    <%= link_to 'Buy it', @book.detail_page_url  %>
  </div>
  <div class="book-header">
    <h1><%= @book.title %> </h1>
    <p class="authors"><%= " by #{ by_authors @book.author}"%></p>
  </div>
  
  <div class="book-image">
    <%= link_to image_tag(@book.large_image,:width => 250), @book.detail_page_url %>
  </div>
  <div class="book-info">
      <div class="friends">
        <%= render 'slider',:title => I18n.t('friends_with_it_title'),:empty_legend => I18n.t('friend_with_it_empty_legend'),:path => friends_bookcase_path, :partial => 'friend',:collection => @friends_have_read_it, :items_slide => 4,:slider_index => 0 %>
        <script type="text/javascript" >
          var sliders = [[0,<%= (@friends_have_read_it.size + 3) / 4 %>]];
        </script>    
      </div>
  </div>

  <div id="experience_<%= @book.id %>" class="experiences">
    <%= render :partial => '/experiences/experiences_book' %>
  </div>

  <div class="cleaner">
  </div>

</div>

  <div style="margin-top:50px;">
  <%= debug @book%>
  
  </div >
