<div class="book">
  <h1><%= @book.title %> </h1>
  <p class="authors"><%= " by #{ by_authors @book.author}"%></p>
  
  <%= link_to image_tag(@book.large_image,:width => 300), @book.detail_page_url %>
  <div class="info">
    <div class="friends">
      <p> Readers between your friends </p>
      <% @friends_have_read_it.each do |user| %>
        <%= link_to image_tag("http://graph.facebook.com/#{user.uid}/picture"), user.link%> 
        <div class="name"> <%= link_to user.name, user.link %> </div>
        <%= debug user %>
      <% end %>
    </div>
  </div>
  
  
  <div style="margin-top:50px;"
  <%= debug @book%>
  <h1> <%= "#{@book.title} by #{@book.author}" %> </h1>
  
  <div >
  
  <div class="left_float">
    <%= image_tag @book.medium_image%> 
  </div>
  <div class="left_float">
    <%= %>
  </div>
  
  </div>
</div>

