<%# we have to configure this page depending on
    - We just created the book. The links is an book_asin_path
    - The book was previously in our database and it has evangelists 
    - The user is logged_in and we want to show him friends that are reading it
%>


<div class="book">
  <div class="book-header">
    <h1><%= @book.title %> </h1>
    <p class="authors"><%= " by #{ by_authors @book.author}"%></p>
  </div>
  
  <div class="book-image">
    <%= link_to image_tag(@book.large_image,:width => 250), @book.detail_page_url %>
  </div>
  <div class="book-info">
    <% if @friends_have_read_it %>
      <div class="friends">
        <%= render 'slider',:title => 'Readers between your friends',:path => friends_bookcase_path, :partial => 'friend',:collection => @friends_have_read_it, :items_slide => 4,:slider_index => 0 %>
        <script type="text/javascript" >
          var sliders = [[0,<%= (@friends_have_read_it.size + 3) / 4 %>]];
        </script>    
      </div>
    <% end %>

  </div>

  <div class="experiences">


    <% if @experience %>
      it is in your libroshelf
    <% else %>
    <div class="slider"> 
      <div class="slider-title">
        <h2><%= 'Sent this book to your Bookcase!!!' %></h2>
      </div>
    </div>
            <ul class="menu" >
              <li>
                <%= link_to_function 'To your Read bookshelf', "$('#experience_0_form_#{@book.asin}').submit();" %>
                <%= form_tag(experiences_path,:id => "experience_0_form_#{@book.asin}",:remote => true) do -%>
                  <%= hidden_field_tag :asin, @book.asin%>
                  <%= hidden_field_tag(:code, 0) %>
                <% end -%>
              </li>

              <li>
                <%= link_to_function 'To Reading bookshelf', "$('#experience_1_form_#{@book.asin}').submit();" %>
                <%= form_tag(experiences_path,:id => "experience_1_form_#{@book.asin}",:remote => true) do -%>
                  <%= hidden_field_tag :asin, @book.asin%>
                  <%= hidden_field_tag(:code, 1) %>
                <% end -%>

              </li>
              <li> 
                <%= link_to_function 'To your Next bookshelf', "$('#experience_2_form_#{@book.asin}').submit();" %>
                <%= form_tag(experiences_path,:id => "experience_2_form_#{@book.asin}",:remote => true) do -%>
                  <%= hidden_field_tag :asin, @book.asin%>
                  <%= hidden_field_tag(:code, 2) %>
                <% end -%>
              </li>
              <li> 
                <%= link_to 'Buy it', @book.detail_page_url  %>
              </li>
            </ul>
    <% end %>



  </div>

  <div class="cleaner">
  </div>

</div>

  <div style="margin-top:50px;">
  <%= debug @book%>
  
  </div >
