<%# we have to configure this page depending on
    - We just created the book. The links is an book_asin_path
    - The book was previously in our database and it has evangelists 
    - The user is logged_in and we want to show him friends that are reading it
%>

<% content_for :open_graph do %>
  <meta property="fb:app_id"      content="<%= ENV['FACEBOOK_KEY'] %>" /> 
  <meta property="og:title" content="<%= @book.title %>" />
  <meta property="og:type" content="book" />
  <meta property="og:url" content="<%= book_url(@book, :host => 'libroshelf.com')%>" />
  <meta property="og:image" content="<%= @book.tiny_image %>" />
  <meta property="og:image:height" content="110" />
  <% if @book.author %>
    <meta property="og:description" content="Book writen by <%= @book.author%>" />
  <% end %>
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="es_ES" />
  <meta property="og:locale:alternate" content="es_LA" />
  <meta property="og:site_name" content="Libroshelf" />

<% end %>

<% content_for :page_title do %>
  <%= "#{@book.title}" %> 
    <%= " by #{ by_authors @book.author}" if @book.author %>
<% end %>

<% content_for :meta_seo do %>
  <meta name="description" content="<%= "#{@book.title}" %><%= " by #{ by_authors @book.author}" if @book.author %> " />
  <meta name="keywords" content=" <%= "#{@book.title}" %>,<%= " #{ by_authors @book.author}" if @book.author %>, book, books, reading " />
  <link rel="image_src" type="image/jpeg" href="<%= @book.tiny_image %>"/> 
    
<% end %>



<% unless logged_in? %>
  <div id="book-guideline" class="guideline">
    <%= link_to_function "X", "jQuery('#book-guideline').hide();", :class => 'right_float'%>
    <%= I18n.t('gd_book_not_logged_in_html').html_safe %>
  </div>
<% end %>
<div  id="book_<%= @book.id %>"class="book">
  <div class="buy-it">
    <%= link_to I18n.t('buy_it'), @book.detail_page_url  %>
  </div>
  <div class="book-header">
    <h1><%= @book.title %> </h1>
    <p class="authors"><%= " #{I18n.t('by')} #{ by_authors @book.author}" if @book.author%></p>
  </div>
  
  <div class="book-image">
    <% if @book.asin.eql? '0486411095' %>
      <img alt="51wuzn-10-l" src="//ecx.images-amazon.com/images/I/51WuZn-10-L.jpg" width="250">
    <% else %>
        <%= link_to image_tag(@book.large_image ? @book.large_image : 'book-default-image.png',:width => 250), @book.detail_page_url %>
    <% end %>
  </div>
  <div class="book-info">
    <% if logged_in? %>
      <div class="friends">
        <%= render 'slider',:title => I18n.t('friends_with_it_title'),:empty_legend => I18n.t('friend_with_it_empty_legend'),:path => friends_bookcase_path, :partial => 'friend',:collection => @friends_have_read_it, :items_slide => 4,:slider_index => 0 %>
        <script type="text/javascript" >
          var sliders = [[0,<%= (@friends_have_read_it.size + 3) / 4 %>]];
        </script>    
      </div>
    <% end %>
  </div>

  <div id="experience_<%= @book.id %>" class="experiences">
    <%= render :partial => '/experiences/experiences_book' %>
  </div>

  <div class="cleaner">
  </div>

</div>

    <div class="fb-like" data-send="true" data-width="740" data-show-faces="true"></div>
  <div class="reviews">
    <% if logged_in? && !@friends_reviews.empty? %>
      <div class="section-title">
        <h2> <%= I18n.t 'friends_review_title' %></h2>
      </div>
      <%= render :partial => 'reviews/review_item', :collection => @friends_reviews %>
      <% if logged_in? %>
        <div id="review_form">
          <%= render :partial => '/reviews/form' %>
        </div>
      <% end %>
    <% end %>

    <% if (!logged_in? || @friends_reviews.empty?) || !@reviews.empty? %>
      <div class="section-title">
        <h2> <%= I18n.t 'other_review_title' %></h2>
      </div>
      <%= render :partial => 'reviews/review_item', :collection => @reviews %>
      <% if logged_in? && @friends_reviews.empty? %>
        <div id="review_form">
          <%= render :partial => '/reviews/form' %>
        </div>
      <% end %>
    <% end %>



  </div>

<% content_for :sidebar do %>

  <div class="top_sidebar_shadow">
  </div>

  <div id="sidebar_shadow" class="sidebar_shadow" style="clear:both;">
    <div id="sidebar_shadow_container" class="sidebar_shadow_container">
      <div id="book_similarities">
      </div>
    </div>
  </div>
  <div class="bottom_sidebar_shadow">
  </div>

<% end %>



              <script type="text/javascript" >
                   $("#book_similarities").load("<%= book_similarities_path(:asin => @book.asin) %>"); 
              </script>    



