
      <%= link_to_function "X", "jQuery('#modal-recommend').hide();", :class => 'modal-close-icon'%>

  <div>
    <%= render :partial => '/books/book_item_small', :object => @book %>
    <div class="recommend-header"> 
        <h2><%= I18n.t 'created_recommend_title' %></h2>
        <% if @friends_out.empty? %>
          <p> <%= I18n.t 'created_recommend_explanation_html' %> </p>
          <ul class="menu">
              <li><%= link_to_function "Recommendations", "recommend_selected_friends();",:id => 'link-recommend-selected-friends'  %></li>
          </ul>
        <% else  %>
          <p> <%= I18n.t 'friends_not_using_message' %>  </p>
        <%= link_to I18n.t 'invite_your_friends' , facebook_dialog_path(:link => book_url(@book), :name => @book.title, :uid => @friends_out.map { |friend| friend['id'] }) ,:class => 'submit'   %>
        <% end %>

    </div>
 </div>

  <% if @friends_out.empty? %>
  <div  class="modal-recommend-friends-box">
    <div id="recommend-selected-friends" class="">
      <%= render :partial => 'friend', :collection => @friends_in  %>
    </div>
 </div>
  <% else  %>

  <% end %>
<div class="cleaner">
</div>

