
      <%= link_to_function "X", "jQuery('#modal-recommend').hide();", :class => 'modal-close-icon'%>

  <div>
    <%= render :partial => '/books/book_item_small', :object => @book %>
    <div class="recommend-header"> 
        <h2> <%= I18n.t 'recommend_title'%></h2>
          <p> <%= I18n.t('recommend_explanation_html').html_safe %> </p>
        <ul class="menu">
              <li ><%= link_to_function I18n.t('recommend_menu_friends'), "recommend_friends();", :class => 'selected',:id => 'link-recommend-friends'%></li>
              <li><%= link_to_function I18n.t('recommend_menu_selected'), "recommend_selected_friends();",:id => 'link-recommend-selected-friends'  %></li>
              <li><%= link_to_function I18n.t('recommend_menu_who_read_it'), "recommend_read_friends();",:id => 'link-recommend-read-friends' %></li>
        </ul>

    </div>
 </div>
  <div  class="modal-recommend-friends-box">

  <div id="recommend-friends" class="">
    <%= render :partial => 'friend', :collection => @friends  %>
  </div>
  <div id="recommend-selected-friends" class="hidden">
  </div>
  <div id="recommend-read-friends" class="hidden">
    <%= render :partial => 'friend', :collection => @friends_with_experience  %>
  </div>


 </div>
  <div class="recommend_form">
    <%= form_tag(create_recommendations_path,:id => 'create_recommendations',:remote => true) do -%>
            <%= hidden_field_tag :id , @book.id%>

    <% end -%>


        <%= link_to_function I18n.t('recommend_submit_button'), "submit_recommendations();",:class => 'submit'   %>
      <div id="recommendation_error_message" class="left_float hidden error">
        <%= t 'recommend_error'%>
  </div>
  </div>

<script type="text/javascript" >
    var  recommendation_uid = new Array();
</script>    
