<% if params[:book_page] %>
  $("#experience_<%= @experience.book_id %>").html('<%= escape_javascript(render :partial => 'experiences_book') %>');
  $("#book_<%= @experience.book_id %>").effect("shake", { times:3 }, 300);

<% else %>
jQuery("#modal-recommend").hide();
jQuery("#modal-recommend-container").hide();
$("#experience_options_<%= @experience.id %>").html('<div class="destroy_message"><%= remove_confirm_message(@experience.code) %></div>');
$("#experience_<%= @experience.id %>").effect("shake", { times:3 }, 300);
<% end %>


