<p id="notice"><%= notice %></p>

<p>
  <b>Review:</b>
  <%= @experience.review %>
</p>

<p>
  <b>Started at:</b>
  <%= @experience.started_at %>
</p>

<p>
  <b>Finised at:</b>
  <%= @experience.finised_at %>
</p>

<p>
  <b>User:</b>
  <%= @experience.user_id %>
</p>

<p>
  <b>Adventure:</b>
  <%= @experience.adventure_id %>
</p>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
