

<div class="slider"> 
  <div>
    <div class="slider-title">
    <% if path %>
      <%= link_to "<h2>#{title}</h2>".html_safe, path, :class => 'link' %>
    <% else %>
      <%=  "<h2>#{title}</h2>".html_safe %>
    <% end %>
  <% if items_slide < collection.size %>    
    <ul class="menu">
      <li><%= link_to "#{ I18n.t('slider_all')} - #{collection.size}", path, :class => 'link' %></li>
      <li><%= link_to_function I18n.t('slider_previous'), "previous_slide(#{slider_index})", :class => 'link disabled',:id=> "previous_#{slider_index}" %></li>
      <li><%= link_to_function I18n.t('slider_next'), "next_slide(#{slider_index})", :class => 'link',:id=> "next_#{slider_index}"  %></li>
    </ul>
  <% end %>
    </div>
  </div>
  <% unless collection.empty? %>
    <div class="slider-container" >
      <% collection.each_slice(items_slide).each_with_index do |slice,index| %>
        <div id="<%= slider_index %>-slide-<%= index %>" class=" <%= 'hidden' unless index.eql?(0) %>">
          <%= render :partial => partial, :collection => slice %>
        </div>
      <% end %>
    </div> 
  <% else %>
    <div class="empty-legend" >
      <%= empty_legend.html_safe %>
    </div> 
  <% end %>
  <div  style="clear:left;">
  </div> 
</div> 




