<!DOCTYPE html>
<html>
<head>
  <title>MyBookshelf</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="modal-wrapper" id="modal-recommend">
      <div class="modal-screen">
          <div id="inner-modal-widget-howto" class="modal-content modal-recommend">
            my friend
          </div>
      </div>
  </div>

<div id="fixed-header">
  <div class="wrapper_with_wings">
      <div id="header" class="wrapper">
        <div id="logo" class="left_float">
            <%= link_to 'EventMonitor', root_path %>
        </div>

        
         <% unless logged_in? %> 
        <div class="right_float">
            <%= link_to "<div class=\"green-button3-small\">Join us through <div class=\"facebook-small-icon\"></div></div>".html_safe, facebook_permission_path, :class => 'link' %>
        </div>
          <% else %>
        <div class="right_float">
            <div  id="header_dropdown" class="dropdown hidden">
            <ul class="menu">
              <li><%= link_to "Logout", logout_path, :class => ((params[:controller].eql?('welcome') && params[:action].eql?('index')) ? 'selected' : '')  %></li>
              <li><%= link_to "My account", logout_path, :class => ((params[:controller].eql?('welcome') && params[:action].eql?('index')) ? 'selected' : '')  %></li>
            </ul>
            </div>
      
            <div  id="dropdown_image">
              <%= link_to_function image_tag("http://graph.facebook.com/#{current_user.uid}/picture",:width => 30),  "$('#header_dropdown').toggle();", :class => "nav_link" %>
            </div>
            <div  class="overlayer">
&nbsp
            </div>
      
        </div>
            <ul class="menu right_float">
              <li><%= link_to "My Bookshelf", bookshelf_path(:id => current_user.id), :class => ((params[:controller].eql?('books') && (params[:action].eql?('bookshelf') || params[:action].eql?('bookcase_read_books') || params[:action].eql?('bookcase_reading_books') || params[:action].eql?('bookcase_next_books') || params[:action].eql?('bookcase_recommended_books'))) ? 'selected' : '')  %></li>
              <li class="separator">|</li>
              <li><%= link_to "Friends Bookshelf", friends_bookshelf_path(:id => current_user.id), :class => ((params[:controller].eql?('books') && params[:action].eql?('friends_bookshelf')) ? 'selected' : '') %></li>
              <li class="separator">|</li>
              <li><%= link_to "Home", root_path, :class => ((params[:controller].eql?('welcome') && params[:action].eql?('index')) ? 'selected' : '') %></li>
              <li class="separator">|</li>
              <li><%= link_to "Logout", logout_path, :class => ((params[:controller].eql?('welcome') && params[:action].eql?('index')) ? 'selected' : '')  %></li>

            </ul>
          <% end %>

        <div class="right_float">
          <%= form_tag search_path  do  %>
            <%= text_field_tag 'title',(params[:title] ? params[:title] : 'Search for books'),  {:id => 'book-search', :autocomplete =>'off',:onclick => "search_input();"} %>
          <% end %>


        </div>

    </div>
    </div>
</div>
<div id="main" class="wrapper" >
  <div id="main-content">
      <%= yield %>
  </div>
  <div id="main-sidebar">
    <%= yield :head %>
  </div>
</div>

<div class="wrapper">
    <div id="footer">
        <ul class="menu left_float">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Learn more", root_path %></li>
            <li><%= link_to "Contact", root_path %></li>
        </ul>
        <ul class="menu right_float">
            <li><%= link_to "help", root_path %></li>
            <li><%= link_to "fake", fake_path %></li>
            <li><%= link_to "privacy policy", root_path %></li>
            <li><%= link_to "copyright info", root_path %></li>
            <li><%= link_to 'logout', logout_path  %></li>
            <li><%= link_to 'canvas', canvas_path, :method => :post  %></li>
        </ul>

    </div>

</div>


</body>
</html>
