<!DOCTYPE html>
<html>
<head>
  <title>MyBookshelf</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
    <div id="header">
        <div id="logo">
            <%= link_to 'EventMonitor', root_path %>
        </div>
        <ul class="menu right_float">
            <li><%= link_to "Help", root_path %></li>
            <li><%= link_to "timeline", timeline_path %></li>
        </ul>

    </div>
    <%= yield %>
    <div id="footer">
        <ul class="menu left_float">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Learn more", root_path %></li>
            <li><%= link_to "Contact", root_path %></li>
        </ul>
        <ul class="menu right_float">
            <li><%= link_to "help", root_path %></li>
            <li><%= link_to "fake", fake_path %></li>
            <li><%= link_to "privacy policy", root_path %></li>
            <li><%= link_to "copyright info", root_path %></li>
            <li><%= link_to 'logout', logout_path  %></li>
        </ul>

    </div>

</div>


</body>
</html>
